<?xml version="1.0"?>
<launch>
    <arg name="gui" default="true"/>
    <arg name="paused" default="false"/>
    <arg name="world_name" default="$(find dave_worlds)/worlds/dave_ocean_waves.world"/>
    <arg name="joy_id" default="0"/>
 
    <!-- use Gazebo's empty_world.launch with dave_ocean_waves.world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="false"/>
    </include>

    <!-- use ned frame north east down -->
    <include file="$(find uuv_assistants)/launch/publish_world_ned_frame.launch"/>

    <!-- rexrov robot with predator arm -->
    <include file="$(find sabuvis_description)/launch/upload.launch">
        <arg name="namespace" value="sabuvis"/>
        <!-- <arg name="x" value="9"/>
        <arg name="y" value="-3"/>
        <arg name="z" value="-93"/>
        <arg name="yaw" value="-1.8"/> -->
        <arg name="x" value="0"/>
        <arg name="y" value="0"/>
        <arg name="z" value="-20"/>
        <arg name="yaw" value="0"/>
    </include>
    
    <!-- <pose frame=''>9.0 -3.0 -87.0 0.0 0.7 2.2</pose> -->

    <!-- Acceleration control -->
    <!-- <include file="$(find uuv_control_cascaded_pid)/launch/joy_velocity.launch">
        <arg name="uuv_name" value="sabuvis" />
        <arg name="model_name" value="sabuvis" />
        <arg name="joy_id" value="$(arg joy_id)"/>
    </include> -->

    <!-- <node name="spawn_grabbable_bar" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find dave_object_models)/models/grab_bar/model.sdf -sdf -model grab_bar">
    </node> -->

    <!-- joint control for manipulator -->
    <!-- <include file="$(find predator_control)/launch/joint_control.launch">
        <arg name="uuv_name" value="rexrov"/>
    </include> -->

    <include file="$(find uuv_teleop)/launch/finned_uuv_teleop.launch">
        <arg name="uuv_name" value="sabuvis"/>
        <arg name="joy_id" value="$(arg joy_id)"/>
        <!-- <arg name="gain_roll" value="0,0,0,0"/>
        <arg name="gain_pitch" value="0,1,0,-1"/>
        <arg name="gain_yaw" value="-1,0,1,0"/> -->
        <arg name="thruster_rotor_gain" value="0.0002"/>
        <arg name="max_thrust" value="120"/>
        <arg name="thruster_joy_gain" value="-1.0"/>
    </include>

</launch>
